#ctx
{
    /* the canvas styling usually does not change */
    position: absolute;
    top: 0;
    bottom: 0;
    width:100%;
    height:100vh;
    outline:1px solid black;
    border:1px solid black;
}